/*  I M P O R T A C I O N E S  */
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-VariableFont_slnt_wght.ttf);
}
@font-face {
  font-family: Sora;
  src: url(../fonts/Sora/Sora-VariableFont_wght.ttf);
}
@font-face {
  font-family: Audiowide;
  src: url(../fonts/Audiowide/Audiowide-Regular.ttf);
}
@import "./login";
@import "./navs";
@import "./container";
@import "./footer";

/*  L I N E A S  Y  S E P A R A D O R E S  */

.line-nav {
  background-color: #34383f;
  margin-top: 70px;
  margin-bottom: 1.5rem;
  padding-bottom: 3px;
}

/*  G E N E R A L E S  */
* {
  font-family: Inter;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/*  G R I D S  */

#most-played {
  display: grid;
  grid-template-columns: repeat(3, 0.33fr);
  grid-auto-rows: 110px;
  grid-column-gap: 6px;
  grid-row-gap: 20px;
  justify-content: space-between;
}

/*  M E N U  */

.menu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 34px;
  min-width: 34px;
  gap: 6px;
  background-color: transparent;
  border: 0;
}

/*  E T I Q U E T A S  */
body {
  background-color: #28262c;
}

h2 {
  padding-bottom: 2rem;
  font-family: Sora;
  font-weight: 700;
  font-size: 26px;
}

h3 {
  font-family: Sora;
  font-weight: 700;
  font-size: 18px;
}

h4 {
  font-family: Sora;
  font-weight: 600;
  font-size: 14px;
}

h5 {
  padding: 5px 0;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
}

li {
  display: inline-block;
}

/*  B L O Q U E S  */

.most-played__game {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buy-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #34383f;
  border-radius: 20px;
}

/*  E L E M E N T O S  */

.buy-game__info {
  display: flex;
  justify-content: space-between;
  width: 78%;
  margin-left: 20px;
}

/*  T E X T O  */

.catalogue-game__card__info__time {
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  margin: 4px 0;
}

.catalogue-game__card__info__hs {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
}

.mobile-hidden {
  display: none;
}

/*  I M A G E N E S  */
img {
  border-radius: 10px;
  object-fit: cover;
}

/* B O T O N E S*/

.btn-principal--buy-game {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c1f22;
  height: 60px;
  width: 20%;
  min-width: 204px;
  margin-left: 2rem;
  color: #f0f0f0;
  font-size: 1rem;
  font-family: Sora;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
}

/*  M E D I A  Q U E R I E S  480px  */

.mobile-hidden {
  display: block;
}

/*  M E D I A  Q U E R I E S  768px  */
/*  INICIO 768 */
.carousel-item .carousel-caption {
  display: none;
}

.mini-galery {
  grid-area: galery;
}

/*  A N U L A R  B O O T S T R A P  */
*,
::after,
::before {
  box-sizing: unset;
}

.container-fluid {
  width: 86%;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.carousel-item {
  transition: transform 0.1s linear;
}

.carousel-inner {
  overflow: visible;
}

.carousel-caption {
  text-align: left;
  position: absolute;
  bottom: -3.5rem;
  left: 0rem;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 3px;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 2rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 1rem;
}
